@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:  0px;
	margin-top: 20px;
	padding:  0px;
	box-sizing: border-box;
/*	background-color: white;*/
}

/* adjusting fonts */

body {
	color: black;
	align-content: center;
	font-family: 'Inter', arial;
	--accent-color: rgb(0,0,255);
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

p {
	font-family: 'Inter',Arial;
	font-size:  15px;
	line-height: 30px;
}

h3{
	font-weight: initial;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: #706856;
	position: relative;
}


#body{
	width: 200px;
	height: 400px;
	background-color: gray;
	top: 394px;
	left: 240px;
	position: absolute;
}



button{
	font-size: 1rem;
	border: 1px solid gray;
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 0px;
}

#darkmode{
	position: fixed;
    bottom: 20px;
    left: 88%;
    /* transform: translateX(-50%); */
}

#save {
	/* margin-left: 200px; */
	border: 2px solid var(gray);
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

/* .intro{
} */

#nickname{
	margin-top: 5vw;
	font-weight: 500;
	font-size: 20px;
}

input[type="search"]{
	border: none;
	outline: none;
	padding: 6px 12px;
	background-color: #D9D9D9;
	color: gray;
}

#main{
	margin-top: 13vw;
	margin-bottom: 15vw;

}