@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Inter', Arial;
    text-align: center;
    line-height: 150%;
}

div{
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 15vw;
}

#announce{
    margin-top: 3vw;
    font-size: 18px;
}


#darkmode{
    position: fixed;
    bottom: 20px;
    left: 88%;
    /* transform: translateX(-50%); */
	font-size: 1rem;
	border: 1px solid gray;
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 0px;
}

button{
	font-size: 1rem;
	border: 1px solid gray;
	background: transparent;
	padding: 0.5rem;
    margin-top: 1vw;
	margin-bottom: 1rem;
	border-radius: 0px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
    color: white;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */
	--accent-color: rgb(0,255,0);
}

#question{
    margin-top: 4vw;
    font-size: 20px;
    font-weight: 600;
}

#a1 {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    line-height: 180%;
}

#a2 {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    line-height: 180%;
}

.bold {
    font-weight: 700;
  }
  
.strike-through {
text-decoration: line-through;
font-weight: 300;
}